:root{
  --fondo:tomato
}
body{
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  max-width: 600px;
}
.card{
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  padding: 15px;
  height: 550px;
}
.incrementar{
  user-select: none;
}

@media only screen and (max-width:768px){
  body{
    height: 100%;
  }
  #root{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    max-width: 350px;
  }
  .card{
    background-color: var(--fondo);
    
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
  }
  .card img {
    width: 300px;
}
}